@import url("reset.css");
@import url("../css/font_style.css");
@import url("../css/header_footer.css");


body{
    background-color: #FFFEF2;
    line-height: 1.5;
    font-family: Didot, serif,sans-serif,'Noto Serif TC', serif;
}
/* background-color: #EBEADE; */
.header_bg{
    background-image: url("../sourse/02.about/header_bg.png");
    background-position: center center;
    background-size: cover;
    width: 100%;
    padding-bottom: 33%;
    
}

.top_header_banner_text_wrap{
    max-width: 1280px;
    margin: 0 auto;
    position: relative;

    /* outline: 2px solid black; */
}

/* banner上的文字 */
.top_header_banner_text{
    display: block;
    /* outline: 2px solid black; */
    margin: 0 auto;
    font-size: 50px;
    height: 100px;
    width: 800px;
    line-height: 200px;
    margin-left: 10px;
    text-align: start;
    text-shadow: #aaa 0 0 3px;
    color: #fff;
    position: absolute;
    top: 260px;
    left: 6%;
}
.top_header_banner_text span{
    font-size: 20px;    
}
/* =========================================== */
/* ------------------ middle_article---------- */
/* =========================================== */
#middle{
    width: 100%;
    margin: 0 auto;
    
}
/* =========================================== */
/* ----------- AG品牌理念 & 美麗秘密 ---------- */
/* =========================================== */
.first_container{
    max-width: 1280px;
    margin: 0 auto;
}

.first_container h1{
    text-align: start;
    padding: 10px;
}

.first_container p{
    text-align: start;
}

.first_container_item{
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    height: 290px;
    box-sizing: border-box;
    margin-bottom: 100px;
    background-color: #F6F5E8;
    border-radius: 0 50px 0 50px ;

    position: relative;
}

/* 裝飾線 */
.first_container_item::after{
    content: "";
    width: 330px;
    height: 3px;
    background:#fa0;

    position: absolute;
    left: 0;
    top: 0;
}

.first_container_item::before{
    content: "";
    width: 330px;
    height: 3px;
    background:#fa0;

    position: absolute;
    right: 0;
    bottom: 0;
}
.first_container_item p{
    padding: 10px;
}


/* =========================================== */
/* --------------- AG品牌介紹 ----------------- */
/* =========================================== */

.second_container{
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 150px;/* 控制item與footer距離 */

}
.second_container ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.second_container li{
    width: 40% ;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
}

.second_container li img{
    display: block;
    margin: 0 auto 30px;
    width: 80%;
    box-shadow: #ccc 0 0 20px;
    border-radius: 10px;
}
.second_container li h3{
    display: block;
    margin: 0 auto 20px;
    width: 80%;

    position: relative;
}
/* h3 裝飾線 */
.second_container li h3::before{
    display: block;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #fa0;
    
    position: absolute;
    top: 22px;
}
.second_container li h3::after{
    display: block;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #fa0;
    
    position: absolute;
    top: 22px;
    right: 0px;
}

.second_container li p{
    display: block;
    margin: 0 auto 20px;
    text-align: justify;
    width: 80%;
    padding: 10px;
}

/* ------ scroll_top ------*/
#toTop{
    position: fixed;
    right: 50px;
    bottom: 20px;

    color: #dddcd0;
    font-size: 50px;
}
#toTop:hover{
    color: #FFAA00;
    cursor: pointer;
}





@media screen and (max-width: 1200px){
    .first_container_item{
        height: auto;
    }
}

@media screen and (max-width: 1000px){
.top_header_banner_text{
    display: none;
}
/* h3 裝飾線 */
.second_container li h3::before{
    display: none;
}
.second_container li h3::after{
    display: none;
}
.second_container ul{
    gap: 30px;
}

.second_container li{
    min-width: 300px;
}
.second_container li img{
    width: 100%;
}
}
@media screen and (max-width: 800px){
}
@media screen and (max-width: 414px){
    /* ------- bannerBG ------- */
    

    /* header文字 */
    .top_header_banner_text{
        display: block;
        top: 135px;
        width: auto;
        font-size: 45px;
    }
    /*------ first_container ------*/
    .first_container h1{
        font-size: 25px;
    }
    .first_container_item{
        height: auto;
    }
    /* 裝飾線 */
    .first_container_item::after , .first_container_item::before{
        width: 290px;
        height: 2px;
    }
    .first_container_item p{
        font-size: 16px;
    }

    /*------ second_container ------*/
    .second_container ul{
        flex-direction: column;
        align-items: center;
    }
    .second_container li{
        width: auto;
    }
    
    .second_container li h3{
        width: 100%;
        font-size: 25px;
    }
    .second_container li p{
        font-size: 16px;
    }
    .second_container li h3::before {
        left: 40px;
    }
    .second_container li h3::after {
        right: 40px;
    }

}






