@import url("reset.css");

body{
    background-color: #FFFEF2;
    line-height: 1.5;
}
/* background-color: #EBEADE; */
.header_bg{
    background-image: url("../sourse/02.about/header_bg.png");
    background-position: center center;
    background-size: cover;
    width: 100%;
    padding-bottom: 33%;
    
}

.top_header_banner_text_wrap{
    max-width: 1280px;
    margin: 0 auto;
    position: relative;

    /* outline: 2px solid black; */
}

/* banner上的文字 */
.top_header_banner_text{
    display: block;
    /* outline: 2px solid black; */
    margin: 0 auto;
    font-size: 50px;
    height: 100px;
    width: 800px;
    line-height: 200px;
    margin-left: 10px;
    text-align: start;
    text-shadow: #aaa 0 0 3px;
    color: #fff;
    position: absolute;
    top: 260px;
    left: 6%;
}
.top_header_banner_text span{
    font-size: 20px;    
}
/* =========================================== */
/* ------------------ middle_article---------- */
/* =========================================== */
#middle{
    width: 100%;
    margin: 0 auto;
    
}
/* =========================================== */
/* ----------- AG品牌理念 & 美麗秘密 ---------- */
/* =========================================== */
.first_container{
    max-width: 1280px;
    margin: 0 auto;
}

.first_container h1{
    text-align: start;
    margin-bottom: 30px;
}

.first_container p{
    text-align: start;
}

.first_container_item{
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    height: 300px;
    box-sizing: border-box;
    margin-bottom: 100px;
    background-color: #EBEADE;
    border-radius: 0 50px 0 50px ;

    position: relative;
}

/* 裝飾線 */
.first_container_item::after{
    content: "";
    width: 330px;
    height: 3px;
    background:#fa0;

    position: absolute;
    left: 0;
    top: 0;
}

.first_container_item::before{
    content: "";
    width: 330px;
    height: 3px;
    background:#fa0;

    position: absolute;
    right: 0;
    bottom: 0;
}


/* =========================================== */
/* --------------- AG品牌介紹 ----------------- */
/* =========================================== */

.second_container{
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 150px;/* 控制item與footer距離 */

}
.second_container ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.second_container li{
    width: 40% ;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
}

.second_container li img{
    display: block;
    margin: 0 auto 30px;
    width: 80%;
    box-shadow: #ccc 0 0 20px;
    border-radius: 10px;
}
.second_container li h3{
    display: block;
    margin: 0 auto 20px;
    width: 80%;

    position: relative;
}
/* h3 裝飾線 */
.second_container li h3::before{
    display: block;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #fa0;
    
    position: absolute;
    top: 22px;
}
.second_container li h3::after{
    display: block;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #fa0;
    
    position: absolute;
    top: 22px;
    right: 0px;
}

.second_container li p{
    display: block;
    margin: 0 auto 20px;
    text-align: start;
    width: 80%;
    padding: 10px;
}




/* ========================================== */
/* ------------------footer------------------ */
/* ========================================== */


.wrap_footer{
    width: 100%;
    height: 500px;
    
    /* outline: 2px solid black; */
}

.footer_container{
    background-color: #EBEADE;
    margin: 0 auto 10 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    box-sizing: border-box;
    overflow: hidden;
    /* outline: 2px solid black; */
}

.footer_logo{
    display: block;
    width: 100px;
    margin-right: 100px;
}

.footer_logo a{
    text-decoration: none;
}

.footer_logo img{
    text-decoration: none;
    padding: 10px;
    width: 150px;
}

.col_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 400px;
    /* outline:  2px solid black; */
}

.col_link h5{
    padding: 20px;
    margin-bottom: 10px;
}
.col_link span{
    width: 50%;
    border-bottom: 2px solid #ccc ;
    margin-bottom: 30px;
}
.col_link li{
    margin-bottom: 50px;

}
.col_link li a{
    text-decoration: none;
    color: #666;
}
.footerMedia{
    display: flex;
}
.footerMedia li{
    padding: 20px;
}

.footerMedia li a{
    text-decoration: none;
    font-size: 50px;
}

.footer_container2{
    width: 100%;
    margin-bottom: 50px;
}




