@import url("reset.css");
@import url("../css/font_style.css");
@import url("../css/header_footer.css");
html {
    scroll-behavior: smooth;
}
body{
    background-color: #FFFEF2;
    line-height: 1.5;
    font-family: Didot, serif,sans-serif,'Noto Serif TC', serif;
}
.header_bg{
    background-image: url("../sourse/04.treatment_content/banner1.png");
    background-position: center center;
    background-size: cover;
    width: 100%;
    padding-bottom: 33%;
}

/* banner上的文字 */
.top_header_banner_text{
    display: block;
    /* outline: 2px solid black; */
    font-size: 90px;
    width: 500px;
    height: 100px;
    line-height: 200px;
    margin-left: 10px;
    text-align: start;
    text-shadow: #ccc 1px 1px 2px;
    color: #fff;

    position: absolute;
    top: 40%;
    left: 39.5%;
}


/* ============================== */
/* ------------- middle --------- */
/* ============================== */


#middle{
    width: 100%;
    margin: 0 auto;
    
}

/* ============================== */
/* ----------- banner ----------- */
/* ============================== */

.banner{
    background-image: url(../sourse/04.treatment_content/banner2.jpg);
    width: 100%;
    height: 550px;
    background-size: cover;
    background-position: left center ;
    background-repeat: no-repeat;

    margin-bottom: 100px;/* 推下一個區塊的內容 */
}
.bannerContainer{
    max-width: 1280px;
    margin: 0 auto 50px;
    
    position: relative;
    /* outline: 1px solid black; */
}

.container_text{
    display: block;
    width: 500px;
    height: 300px;  
    padding-top: 50px;
    text-align: start;
    box-sizing: border-box;
    /* outline: 2px solid black; */

    position: absolute;
    top: 160px;
    right: 50px;
}
.firstContainer_text h1{
    display: block;
    /* outline: 2px solid black; */
    margin-bottom: 50px;
}
.firstContainer_text p{
    display: block;
    text-align: start;
    padding: 10px;
    /* outline: 2px solid black; */
}


/* ------ 選擇療程服務 title ----- */

.firstContainer{
    /* outline: 1px solid black; */
    max-width: 1280px;
    margin: 0 auto 50px;
}
.firstContainer_wrapper{
    /* outline: 1px solid black; */
    width: 50%;
    margin: 0 auto;
}
.firstContainer_wrapper h1{
    /* outline: 1px solid black; */
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    position: relative;
}
/* 裝飾線 */
.firstContainer_wrapper h1::after{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;

    position: absolute;
    bottom: -5px;
    left: 46%;
}
.firstContainer_wrapper_wrap{
    /* outline: 1px solid black; */
    display: flex;
    justify-content: center;
    gap: 50px;
}
.firstContainer_wrapper_wrap_click h5{
    font-size: 20px;
}

/* service item  */

.service_container{
    max-width: 1280px;
    margin: 0 auto 150px;
}

.containerContent{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 120px;
}
.containerContent img{
    border-radius: 0 80px 80px 0;
    box-shadow: #ccc 0px 0px 10px ;
    width: 60%;
}
.Content_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.Content_text ol li{
    list-style-type:disc;
}
.Content_text h2{
    width: 100%;
    font-size: 40px;
    margin-bottom: 30px;
}
.Content_text p{
    width: 80%;
    text-align: start;
    margin-bottom: 30px;
}

.containerContent_btn{
    margin-top: 30px;
    width: 100px;
}

/* ------ scroll_top ------*/
#toTop{
    position: fixed;
    right: 50px;
    bottom: 20px;

    color: #dddcd0;
    font-size: 50px;
}
#toTop:hover{
    color: #FFAA00;
    cursor: pointer;
}



@media screen and (max-width: 1200px){

}

@media screen and (max-width: 990px){
    
}
@media screen and (max-width: 800px){
}
@media screen and (max-width: 414px){
    /* header banner上的文字 */
    .top_header_banner_text {
        width: auto;
        font-size: 50px;
        top: 19%;
        left: 32%;
    }
    /* 選擇療程服務 */
    .firstContainer{
        max-width: 414px;
    }
    .firstContainer_wrapper{
        width: 100%;
    }
    .firstContainer_wrapper h1{
        font-size: 30px;
    }
    .firstContainer_wrapper_wrap_click h5{
        font-size: 14px;
    }

    /* 第二個banner */
    .banner {
        height: 210px;
        background-image: linear-gradient(rgba(253, 250, 250, 0.3), rgba(0253, 250, 250, 0.3)),url(../sourse/04.treatment_content/banner2.jpg);
    }
    /* 第二個banner的固定寬 */
    .container_text {
        width: auto;
        height: auto;
        padding-top: 0;
        top: 50px;
        left: 18px;
    }
    /* banner上的文字 */
    .container_text h1 {
        font-size: 20px;
        text-align: start;
    }
    .container_text h1 {
        font-size: 20px;
        text-align: start;
    }
    .container_text p {
        font-size: 14px;
        text-align: start;
    }


    /* 服務項目的甲方爸爸 */
    .containerContent {
        flex-direction: column;
    }

    /* 甲方爸爸說滾到前面去 */
    .containerContent img {
        border-radius: 12px;
        order: 1;
        width: 80%;
        margin: 0 auto;
        border-radius: 12px
    }
    /* 甲方爸爸說滾到後面去 */
    .containerContent .Content_text {
        order: 2;
    }
    

    /* 服務項目_文字說明 */
    .Content_text h2 {
        height: 20px;
        margin-top: 20px;
        font-size: 25px;
    }
    .Content_text a ~ p{
        padding: 10px;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 3px;
    }
    .Content_text ol{
        padding: 10px;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 3px;
    }

    /* 來歐緊來買喔的按鈕 */
    .containerContent_btn{
        margin-top: 10px;
        text-align: center;
    }
    
}