@import url("reset.css");


body{
    background-color: #FFFEF2;
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* background-image: url(../sourse/01.index/allbg.png); */
}

.breadcrumbList{
    padding-top: 66.29px;
    background:  #d2d1c2;
}



/* ============================== */
/* ------------- middle --------- */
/* ============================== */
#middle{
    width: 100%;
    margin: 0 auto;
}

.online_reservatiom{
    max-width: 800px;
    margin: 0 auto; 
}
.online_reservatiom > h3{
    margin-bottom: 30px;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.service_store{
    border-radius: 5px ;
    background-color: #d2d1c2; 
    width: 85%;
    height: 30px;
    margin-bottom: 30px;
    border: 0;
}
.select_group1{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 40%;
    margin-bottom: 20px;
}

.select_group1 select{
    height: 30px;
}


#price{
    height: 25px;
}

/* 選擇日期 */
.select_group2{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 82%;
    margin-bottom: 20px;
}
.select_group2 input{
    height: 30px;
}



/* ------------------ 客戶資料 -------------------- */
.select_group3{
    width: 82%;
    display: flex;
    flex-direction:column;
    margin: 0 auto 30px;
}
.select_group3 h1{
    text-align: center;
}
.select_group3_text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}
.select_group3_textGroup input{
    width: 95%;
}


.input_container {
    height: 50px;
    position: relative;
    width: 100%;
}

/* 控制email margin top */
.mt1 {
    margin-top: 0px;
}
/* 控制password margin top */
.mt2 {
    margin-top: 30px;
}

.input {
    background-color: #EBEADE;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color:#666;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    margin-bottom: 10px;
}
.cut {
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}


.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: #dc2f55;
}


/* --------------------------------------------- */
.Precautions{
    width: 83%;
    margin-bottom: 50px;
}
.Precautions_wrap{
    margin-bottom: 20px;
}
.Precautions_wrap h6{
    text-align: start;
    margin-bottom: 10px;
}
.Precautions_wrap p{
    font-size: 16px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    line-height: 1.5;
}

.bnt{
    display: block;
    width: 100px;
}

/* 其他設定 */
.border{
    border: 0;
}
.input_style{
    background-color: #EBEADE;
    border-radius: 10px;
}