
/* CSS */
.button-2 {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


/* CSS */
.button-48 {
    appearance: none;
    background-color: rgba(235, 235, 235, .5);
    border-width: 0;
    box-sizing: border-box;
    color: #808097;
    cursor: pointer;
    display: inline-block;
    font-family: Clarkson,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1em 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    box-shadow: rgb(50, 51, 43) 0px 0px 4px;;
}

.button-48:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: rgba(255, 170, 0, .3);
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}
.button-48:hover{
    color: #000;
    font-weight: 900;
}

.button-48:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
    background-color: #FFFFFF;
}

.button-48 span {
    z-index: 1;
    position: relative;
}
.button-48:active{
    background-color: #FFAA00;
}

.underline::before{
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background: #fa0;

    position: absolute;
    top: 25px;
    left: 0;
    transition: .5s;
}

/* ------ title的裝飾線 ------ */

.text_left_line{
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    background-color: #FF7D00;

    position: absolute;
    top: 50%;
    left: 1.5%;
}

.text_right_line{
    content: "";
    display: block;
    width: 120px;
    height: 3px;
    background-color: #FF7D00;

    position: absolute;
    top: 50%;
    right: 1.5%;
}
/* ------ btn_style ------ */
.btn_style{
    text-decoration: none;
    display: block;
    text-align: center;
    background:#15C030;
    color: #fff;
    border-radius: 20px;
    font-weight: 600;
    font-size: 30px;
    line-height: 70px;
    width: 200px;
    height: 70px;
}
/* ------ font_chinese_style ------ */

.h1_style{
    font-size: 56px;
    line-height: 61.6px;
    /* font-weight: 700; */
    text-align: center;
    color: #333333;
}
.h2_style{
    font-size: 48px;
    line-height: 52.8px;
    /* font-weight: 600; */
    text-align: center;
    color: #333333;
}
.h3_style{
    font-size: 40px;
    line-height: 44px;
    /* font-weight: 500; */
    text-align: center;
    color: #333333;
}
.h4_style{
    font-size: 32px;
    line-height: 35.2px;
    /* font-weight: 400; */
    text-align: center;
    color: #333333;
}
.h5_style{
    font-size: 24px;
    line-height: 25.4px;
    /* font-weight: 400; */
    text-align: center;
    color: #333333;
}
.h6_style{
    font-size: 20px;
    line-height: 22px;
    /* font-weight: 400; */
    text-align: center;
    color: #333333;
}




.p1_style{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
    color: #333333;
}

.p2_style{
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 1px;
    text-align: center;
    color: #333333;
}

.p3_style{
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 1px;
    text-align: center;
    color: #333333;
}

.p4_style{
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 1px;
    text-align: center;
    color: #333333;
}
