
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300&display=swap');

body{
    font-family: Didot, serif,sans-serif,'Noto Serif TC', serif;
}


/* ================================= */
/* ----------- navigate ------------ */
/* ================================= */
/* 導覽列背景色 */
.navigate_wrap{
    width: 100%;
    margin: 0 auto;
    background-color: rgba(255, 254, 242,.8);
    /* box-shadow: inset 0 0 0 500px rgba(255, 254, 242,.5); */
    position: fixed;
    z-index: 999;
}
/* 主導覽列位置及寬度 */
.navigate{
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    min-height: 77.55px;
}


/* logo設定 */
.logo{
    width: 30%;
}
.logo img{
    display: block;
    width: 100%;
    padding: 10px 0 0 60px;
} 
.logo a{
    display: block;
    width: 240px;
}


/* 主導覽，選單iocn區flex橫排 */
.main_nav_wrap, .Register_Login_and_cart_shopping_wrap{
    display: flex;
    margin-left: auto;
}
.Register_Login_and_cart_shopping_wrap{
    width: 22%;
}
.Register_Login_and_cart_shopping_item_main_nav{
    display: flex;
    justify-content:center;
    align-items: center; 
    width: 90%;
    text-align: center;
    transition: all .4s linear;
}
/* 主導覽寬度 */
.main_nav_wrap{
    width: 48%;
}

/* 導覽列子層 flex排版 */
.main_nav, .Register_Login_and_cart_shopping_item{
    display: flex;
    justify-content:center;
    align-items: center; 
    flex-grow: 1;
    width: 90%;
    text-align: center;
    transition: all .4s linear;
}
/* 選單hover變色 */
.main_nav:hover, .Register_Login_and_cart_shopping_item:hover{
    background: #FFecd1;
}
/* 選單文字underline關掉 */
.main_nav a, .Register_Login_and_cart_shopping_item a{
    text-decoration: none;
    color: #78290F;
    position: relative;
}

/* 漢堡線設定 */
.fa-solid{
    margin-right: 5px;
}


/* 選單移入按鈕，414p開啟 */
.main_nav span{
    display: none;
}   


/* 手機版子選單按鈕關掉，414px再開啟 */
.sub_nav_item span{
    display: none;
}

.Register_Login_and_cart_shopping .menu-icon{
    padding: 10px;
    box-sizing: border-box;
    margin-left: auto;/* 置右 */
}
.menu-icon i{
    font-size: 40px;/* 登入及購物車icon */
    display: none;/* 在RWD414px時顯示 */
}

/* ----------- 控制子選單位置 -----------*/
.sub_nav{
    display: none; /* 在選單hover時顯示sub_nav */
    position: absolute;
    width: 100%;
    left: 0px;
    top: 77px;
    background-color: #ee9d52b8;
    border-radius: 0px 0px 10px 10px ;

    z-index: 20;
}

.main_nav:hover .sub_nav{
    display: block;
}

.sub_nav a {
    display: block;
    padding-bottom: 30px;
    text-align: center;
    font-size: 18px;
}
/* 子選單文字變色 */
.sub_nav a:hover{
    color: #fff;
    transition: .5s;
}




/* 購物車及會員登入 */
.Register_Login_and_cart_shopping .menu-icon{
    display: flex;
    width: 20%;
    display: none;/* 在RWD414px時顯示 */
}











/* ================================= */
/* ============= 麵包屑 ============ */
/* ================================= */

.breadcrumb{
    display: flex;
    margin-bottom: 50px;
}
.container{
    max-width: 1280px;
    margin: 0 auto 
}

.breadcrumb li {
    box-sizing: border-box;
	padding: 20px 0px 20px 30px;
}
.breadcrumb li:first-child ~li:before {
	content: "/"; 
	color: #ccc;
	padding-right: 20px;
}

.breadcrumb li:last-child a {
    color: #FF7D00; 
    font-weight: 500;
}
.breadcrumb li a {
    color: #777;
    font-weight: 100;
    font-size: 20px;
    text-decoration: none;
}
.breadcrumb li a:hover{
    color: #ccc;
}









/* ========================================== */
/* ------------------footer------------------ */
/* ========================================== */


.wrap_footer{
    width: 100%;
    height: auto;
    
    /* outline: 2px solid black; */
}

.footer_container{
    background-color: #EBEADE;
    margin: 0 auto 10   0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 50px;
    box-sizing: border-box;
    width: 100%;
}


.footer_logo{
    display: block;
    width: 100px;
    margin-right: 100px;

    
}

.footer_logo a{
    text-decoration: none;
}

.footer_logo img{
    text-decoration: none;
    padding: 10px;
    width: 150px;
}

.col_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12%;
    height: auto;
    margin-bottom: 30px;
}

.col_link h5{
    padding: 0 0 20px;
    margin-right: auto;
}
.col_link span{
    width: 100%;
    border-bottom: 2px solid #ccc ;
    margin: 0 auto 30px 0;
}

.col_link li{
    margin-bottom: 25px;
    margin-right: auto;

}
.col_link li a{
    text-decoration: none;
    color: #666;
}
.footerMedia{
    display: flex;
    margin-right: auto;
}
.footerMedia li{
    padding: 0 10px 0 0;
    height: 50px;
}

.footerMedia li a{
    text-decoration: none;
    font-size: 40px;
}

.footer_container2{
    width: 100%;
    margin-bottom: 10px;
}
.footer_container2 h5{
    font-size: 15px;    
}




/*-------------- RWD ----------------*/

@media screen and (max-width: 1200px){
    
    /*------- logo縮小 -------*/
    .logo img{
        width:80%;
        padding-top: 20px;
    }
    .Register_Login_and_cart_shopping_wrap{
        width: 23%;
    }
}
    
    @media screen and (max-width: 990px){
        /* 在990px就先讓選單到移到銀幕外待機 */
    
        .main_nav_wrap{
            display: none;
        }
        
    
        /*------- 控制漢堡線到最右邊 -------*/
        .menu-icon{
            margin-left: auto;
        }
        
        /*------- 讓登入及購物車的文字消失 -------*/
        .Register_Login_and_cart_shopping_item_main_nav p{
            display: none;
        }
    
        /*------- 漢堡線 -------*/
        .menu-icon i{
            display: block;
            margin: 10px 10px 0 50px;
        }
        .Register_Login_and_cart_shopping_item_main_nav i{
            font-size: 20px;
        }
    }

        
@media screen and (max-width: 414px){
/* ------- bannerBG ------- */
.header_bg{
    background-position: center;
    object-fit: cover;
    height: 240px;
}
/* ------- navigator ------- */
/* 在990px就先讓選單到移到銀幕外待機 */
.navigate{
    position: relative;
    box-sizing: border-box;
    max-width: 414px;
}
.logo img{
    width: 140px;
    padding-top: 26px;
    margin-right: auto;
    padding-left: 20px;
}
/* 登入及購物車icon */
.Register_Login_and_cart_shopping_wrap{
    margin-left: 100px;
}
.Register_Login_and_cart_shopping_wrap :first-child{
    margin-right: 10px;
}
/*------- 漢堡線 -------*/
.menu-icon i{
    display: block;
    margin: 10px 10px 0 10px;
}
/* 選單的位移按鈕這裡開啟 */
.main_nav_caretLeft{
    display: block;
}


/* 主選單 */
.main_nav_wrap{
    display: flex;
    /* display: none; */
    flex-direction: column;
    background-color: #FFFEF2;
    width: 100%;
    height: 400px;
    border: 0;
    box-shadow: 0 1px 20px #ccc;

    z-index: 20;

    position: absolute;
    left: 0;
    top: 77px;
    transition: .5s;
    transform: translateX(120%);
    /* 目前在銀幕外待機 */
}

/*------- 因為權重要大於原本的class(選單位移進來) -------*/
.main_nav_wrap.is-activeIn {
    transform: translateX(0);
}
/*------- 選單移入後的大小 -------*/
.main_nav{
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
}

/*------- 遮色片 -------*/
.overfloat{
    overflow: hidden;   
    height: 100%;
    width: 100%;
}
/* 主選單的按鈕，按下出現子選單 */
.main_nav span{
    display: block;
    font-size: 25px;
    margin-left: 30%;
}

.main_nav a{
    width: 50%;
}
.main_nav_caretLeft{
    display: block;
}

/* ----- 子選單 ----- */

.sub_nav{
    display: flex;
    flex-direction: column;
    border-radius: 0;
    background-color: #FFFEF2;
    width: 100%;
    height: 404px;
    border: 0;
    transition: .5s;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 30;

    transform: translateX(120%);
}

.sub_nav_item{
    display: flex;
    align-items: center;
}

.sub_nav_item:hover{
    background: #FFecd1;
}

#sub_nav{
    display: flex;
}

子選單
.sub_nav_item{
    display: flex;
    align-items: center;
}
#sub_nav_item a{
    padding-left: 20px;
}
.sub_nav_item a{
    height: 100px;
    line-height: 100px;
    padding-bottom: 0;
}
.sub_nav > a{
    display: none;
}


/* 子選單的位移按鈕 */
sub_nav_item span{
    font-size: 25px;
    margin-left: 60%;
}

.main_nav .sub_nav_in{
    transform: translateX(0);
}

/* header文字 */
.top_banner_wrap {
    max-width: 414px;    
}
.top_banner_wrap_text{
    width: 55%;
    top: 115px;
}
.top_banner_wrap h1{
    width: 100%;
    font-size: 25px;
    padding-top: 0;
    margin-top: 0;
}
.top_banner_wrap span{
    font-size: 25px;
}
.top_banner_wrap h2{
    font-size: 16px;
    width: 200px;
    margin: 0 0 10px;
}
.button-48{
    height: 30px;
    width: 80px;
    line-height: 30px;
    padding: 0;
    font-size: 5px;
}

/*------- firstsection_服務項目 -------*/
.first_service_item{
    max-width: 414px;

    position: relative;/* 給標題定位 */
}
.first_service_text h3{
    font-size: 22px;
    margin: 20px 0 20px;
    text-align: center;
}

/*------- 控制第一個服務項目更換樣式 -------*/
.desk_close{
    display: none;
}
.open_mobile{
    display: block;
}

/*------- 第一個服務項目樣式設定 -------*/
.open_mobile{
    max-width: 414px;
    display: flex;
    
}
.open_mobile .first_service_item_group_card{
    gap: 10px;
    
}
.first_service_item_group_card img{
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

/*------- 第二個服務項目樣式設定 -------*/
.second_service_text_group h2{
    font-size: 25px;
    margin-bottom: 0px
}
.second_service_text_group h4{
    font-size: 20px;
}

.second_service_item_group{
    flex-direction: column;
    width: 300px;
    height: auto;
    gap: 86px;
}
.second_service_item_wrap{
    width: 100%;
}
.second_service_item_wrap h2{
    margin-bottom: 0;
}
.second_service_item {
    margin: 0 auto 100px
}

/*------- 第三個服務項目樣式設定 -------*/
.third_service_item{
    flex-direction: column;
    margin-bottom: 130px;
}
.third_service_item_wrap{
    width: 100%;
    order: 2;
}
.third_service_item img{
    width: 100%;
    order: 1;
}
.third_service_item_wrap h3{
    padding: 20px 0px 0px;
    font-size: 25px;
}
.third_service_item_wrap p{
    font-size: 16px;
}
.third_service_item_wrap a{
    margin-top: 0;
}
.third_service_item::after{
    display: none;
}

/*------- 第四個服務項目樣式設定 -------*/
.four_service_item{
    flex-direction: column;
    margin-bottom: 130px;
}
.four_service_item_wrap{
    width: 100%;
    order: 2;
}
.four_service_item img{
    width: 100%;
    order: 1;
}
.four_service_item_wrap h3{
    padding: 20px 0px 0px;
    font-size: 25px;
}
.four_service_item_wrap p{
    font-size: 16px;
    margin-left: 0;
    margin-bottom: 0;
    padding: 10px;
}
.four_service_item_wrap a{
    margin-top: 0;
}
.four_service_item::after{
    display: none;
}


/* ------ 客戶回饋 -------*/
.feedback_container::before{
    display: none;
}
.feedback_container::after{
    display: none;
}
/*------- text -------*/

.feedback_container h3{
    font-size: 25px;
}

/* card_item */
.container_ul{
    overflow: hidden;
    gap: 15px;;
}
.li_feedback_content{
    margin-bottom: 50px;
    padding-bottom: 15px;
    flex-shrink: 0;
    max-width: 60%;
}
.li_feedback_content .five_star{
    font-size: 12px;
}

#splide02-slide02{
    width: 30% ; 
}
.splide__list .splide__slide{
    width: 30% !important;
    margin-right: 0px;
    gap: 10px;
}
.splide_mobile{
    display: block;
}
.splide_desk{
    display: none;
}

.splide__track{
    display: flex;
    justify-content: flex-start;
}
/*------- last-item -------*/
.item6_wrap{
    height: 200px;
    width: 70%;
}
.item6_content{
    height: 200px;
    left: -17%;
}
.item6_content h3{
    font-size: 25px;
}
.item6_content :last-child{
    font-size: 20px;
}

/*------- footer -------*/

}
.col_link{
    min-width: 177px;
}

.col_link li{
    max-width: 200px;
}
