
@media screen and (max-width: 1200px){
    .mobile_nav_wrap{
        width: 10%;

    }
    .main_nav_item_a p{
        display: none;
    }
    .logo img{
        width: 150px;
        flex-grow: 1;
    }
    /* banner_text */
    .top_banner_wrap_text{
        width: 70%;
        top: 20%;
        font-size: 50px;
    }
    .top_banner_wrap h1{
        width: 100%;
        padding-top: 10%;
        margin-top: 0;
    }
    .top_banner_wrap span{
        width: 100%;
    }
    .top_banner_wrap h2{
        font-size: 25px;
        width: 300px;
    }
    /* 裝飾線 */
    .first_service_text_group .text_left_line{
        display: none;
    }
    .first_service_text_group .text_right_line{
        display: none;
    }
    
}
@media screen and (max-width: 990px){
    .logo img{
        width: 120px;
    }
    .main_nav{
        display: none;
    }
    .main_nav_wrap{
        display: none;
    }
    .menu-icon{
        display: block;
        margin-right: 10px;
    }
    
}
@media screen and (max-width: 800px){
    /* banner_text */
    .top_banner_wrap_text{
        width: 70%;
        top: 20%;
    }
    .top_banner_wrap h1{
        width: 100%;
        padding-top: 10%;
        margin-top: 0;
        font-size: 40px;
    }
    .top_banner_wrap span{
        width: 100%;
        font-size: 40px;
    }
    .top_banner_wrap h2{
        font-size: 20px;
        width: 300px;
    }
    .button-48{
        height: 40px;
        width: 100px;
        line-height: 40px;
        padding: 0;
        font-size: 10px;
    }
    .first_service_text_group h3{
        font-size: 35px;
        
    }
    
}

@media screen and (max-width: 414px){
    /* -------- bannerBG -------- */
    .header_bg{
        background-position: center;
        object-fit: cover;
        height: 240px;
    }
    /* -------- navigator -------- */
    .navigate{
        max-width: 414px;
        outline: auto;
    }
    
    .logo img{
        width: 100px;
        padding-top: 15px;
        margin-right: auto;
    }
    .top_banner_wrap {
        max-width: 414px;    
    }
    .top_banner_wrap_text{
        width: 55%;
        top: 115px;
    }
    .top_banner_wrap h1{
        width: 100%;
        font-size: 25px;
        padding-top: 0;
        margin-top: 0;
    }
    .top_banner_wrap span{
        font-size: 25px;
    }
    .top_banner_wrap h2{
        font-size: 16px;
        width: 200px;
        margin: 0 0 10px;
    }
    .button-48{
        height: 30px;
        width: 80px;
        line-height: 30px;
        padding: 0;
        font-size: 5px;
    }

    /* firstsection_服務項目*/
    .first_service_item{
        max-width: 414px;

        position: relative;/* 給標題定位 */
    }
    .first_service_text_group h3{
        font-size: 20px;
        margin: 20px 0 20px;
        text-align: center;
    }
    /* 裝飾線消失 */
    .first_service_text_group .text_left_line{
        display: none;
    }
    .first_service_text_group .text_right_line{
        display: none;
    }

/* 控制第一個服務項目更換樣式 */
    .desk_close1{
        display: none;
    }
    .open_moible1{
        display: block;
    }

/* 第一個服務項目樣式設定 */
    .open_moible1{
        max-width: 414px;
        display: flex;
        
    }
    .open_moible1 .item{
        gap: 10px;
        
    }
    .open_moible1 img{
        width: 100%;
        background-color: rgba(0,0,0,0.5);
    }
/* 文字移到圖片上，同時加遮色片 */
    .open_moible1 .item{
        position: relative;
    }
    .open_moible1 h5{
        
    }

}
