
@media screen and (max-width: 1200px){
    
    /*------- logo縮小 -------*/
    .logo img{
        width:80%;
        padding-top: 20px;
    }
    .Register_Login_and_cart_shopping_wrap{
        width: 23%;
    }

    /*------- banner_text -------*/
    .top_banner_wrap_text{
        width: 70%;
        top: 30%;
        font-size: 50px;
    }
    .top_banner_wrap h1{
        width: 100%;
        padding-top: 10%;
        margin-top: 0;
    }
    .top_banner_wrap span{
        width: 100%;
    }
    .top_banner_wrap h2{
        font-size: 25px;
        width: 300px;
    }


    /*------- 裝飾線消失 -------*/
    .first_service_item .text_left_line{
        display: none;
    }
    .first_service_item .text_right_line{
        display: none;
    }



    /*------- feedback -------*/
    .container_ul{
        overflow: hidden;
        gap: 20px;
    }
    .li_feedback_content{
        flex-shrink: 0;
    }

}

@media screen and (max-width: 990px){
    /* 在990px就先讓選單到移到銀幕外待機 */

    .main_nav_wrap{
        display: none;
    }
    

    /*------- 控制漢堡線到最右邊 -------*/
    .menu-icon{
        margin-left: auto;
    }
    
    /*------- 讓登入及購物車的文字消失 -------*/
    .Register_Login_and_cart_shopping_item_main_nav p{
        display: none;
    }

    /*------- 漢堡線 -------*/
    .menu-icon i{
        display: block;
        margin: 10px 10px 0 50px;
    }
    .Register_Login_and_cart_shopping_item_main_nav i{
        font-size: 20px;
    }
}
@media screen and (max-width: 800px){
    /*------- banner_文字 -------*/
    .top_banner_wrap_text{
        width: 70%;
        top: 35%;
    }
    .top_banner_wrap h1{
        width: 100%;
        padding-top: 10%;
        margin-top: 0;
        font-size: 40px;
    }
    .top_banner_wrap span{
        width: 100%;
        font-size: 40px;
    }
    .top_banner_wrap h2{
        font-size: 20px;
        width: 300px;
    }
    .button-48{
        height: 40px;
        width: 100px;
        line-height: 40px;
        padding: 0;
        font-size: 10px;
    }
    /* 第一個service title */
    .first_service_text h3{
        font-size: 30px;
    }







    /*------- 第二個服務項目樣式設定 -------*/
    .second_service_text_group h2{
        font-size: 25px;
        margin-bottom: 0px
    }
    .second_service_text_group h4{
        font-size: 20px;
    }
    
    .second_service_item_group{
        flex-wrap:  wrap;
        height: auto;
        gap: 86px;
    }
    .second_service_item_wrap{
        width: 100%;
        max-width: 300px;
    }
    .second_service_item_wrap h2{
        margin-bottom: 0;
    }
    .second_service_item {
        margin: 0 auto 100px
    }





/*------- 第三個服務項目樣式設定 -------*/
.third_service_item{
    flex-direction: column;
    margin-bottom: 130px;
}
.third_service_item_wrap{
    width: 100%;
    order: 2;
}
.third_service_item img{
    width: 100%;
    order: 1;
}
.third_service_item_wrap h3{
    padding: 20px 0px 0px;
    font-size: 25px;
}
.third_service_item_wrap p{
    font-size: 16px;
}
.third_service_item_wrap a{
    margin-top: 0;
}
.third_service_item::after{
    display: none;
}

/*------- 第四個服務項目樣式設定 -------*/
.four_service_item{
    flex-direction: column;
    margin-bottom: 130px;
}
.four_service_item_wrap{
    width: 100%;
    order: 2;
}
.four_service_item img{
    width: 100%;
    order: 1;
}
.four_service_item_wrap h3{
    padding: 20px 0px 0px;
    font-size: 25px;
}
.four_service_item_wrap p{
    font-size: 16px;
    margin-left: 0;
    margin-bottom: 0;
    padding: 10px;
}
.four_service_item_wrap a{
    margin-top: 0;
}
.four_service_item::after{
    display: none;
}

/* ------ footer ------*/
.footer_container{
}

.col_link {
    min-width: 202.5px;
    margin-left: 30px;

    
}

@media screen and (max-width: 414px){
    /* ------- bannerBG ------- */
    .header_bg{
        background-position: center;
        object-fit: cover;
        height: 240px;
    }
    /* ------- navigator ------- */
    /* 在990px就先讓選單到移到銀幕外待機 */
    .navigate{
        position: relative;
        box-sizing: border-box;
        max-width: 414px;
    }
    .logo img{
        width: 140px;
        padding-top: 26px;
        margin-right: auto;
        padding-left: 20px;
    }
    
    
    .main_nav_wrap{
        display: flex;
        flex-direction: column;
        background-color: #FFFEF2;
        width: 100%;
        border: 0;
        z-index: 20;

        position: absolute;
        left: 0;
        top: 77px;
        transition: .5s;
        transform: translateX(120%);
        /* 目前在銀幕外待機 */
    }

    .main_nav_wrap{
        height: 400px;
        width: 100%;
    }
    /*------- 因為權重要大於原本的class(選單位移進來) -------*/
    .main_nav_wrap.is-activeIn {
        transform: translateX(0);
    }
    /*------- 選單移入後的大小 -------*/
    .main_nav{
        width: 100%;
        height: 100vh;
    }
    /*------- 遮色片 -------*/
    .overfloat{
        overflow: hidden;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    }

    .main_nav_wrap-main:before{
        content: "";
        display: block;
        height: 79%;
        width: 100%;
        overflow: auto;
        background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
        
        position: absolute;
        top: 255px;
        left: 0px;
    } 
    .main_nav .sub_nav{
        display: none;
        border-radius: 0;
        background-color: #FFFEF2;
        width: 100%;
        border: 0;
        
        position: absolute;
        top: 0px;
        left: 0px;
    }
    
    .Register_Login_and_cart_shopping_wrap{
        margin-left: 130px;
    }
    
    .Register_Login_and_cart_shopping_wrap :first-child{
        margin-right: 10px;
    }
    /*------- 漢堡線 -------*/
    .menu-icon i{
        display: block;
        margin: 10px 10px 0 10px;
    }

    /* header文字 */
    .top_banner_wrap {
        max-width: 414px;    
    }
    .top_banner_wrap_text{
        width: 55%;
        top: 115px;
    }
    .top_banner_wrap h1{
        width: 100%;
        font-size: 25px;
        padding-top: 0;
        margin-top: 0;
    }
    .top_banner_wrap span{
        font-size: 25px;
    }
    .top_banner_wrap h2{
        font-size: 16px;
        width: 200px;
        margin: 0 0 10px;
    }
    .button-48{
        height: 30px;
        width: 80px;
        line-height: 30px;
        padding: 0;
        font-size: 5px;
    }

    /*------- firstsection_服務項目 -------*/
    .first_service_item{
        max-width: 414px;

        position: relative;/* 給標題定位 */
    }
    .first_service_text h3{
        font-size: 22px;
        margin: 20px 0 20px;
        text-align: center;
    }

/*------- 控制第一個服務項目更換樣式 -------*/
    .desk_close{
        display: none;
    }
    .open_mobile{
        display: block;
    }

/*------- 第一個服務項目樣式設定 -------*/
    .open_mobile{
        max-width: 414px;
        display: flex;
        
    }
    .open_mobile .first_service_item_group_card{
        gap: 10px;
        
    }
    .first_service_item_group_card img{
        width: 100%;
        background-color: rgba(0,0,0,0.5);
    }

/*------- 第二個服務項目樣式設定 -------*/
    .second_service_text_group h2{
        font-size: 25px;
        margin-bottom: 0px
    }
    .second_service_text_group h4{
        font-size: 20px;
    }
    
    .second_service_item_group{
        flex-direction: column;
        width: 300px;
        height: auto;
        gap: 86px;
    }
    .second_service_item_wrap{
        width: 100%;
    }
    .second_service_item_wrap h2{
        margin-bottom: 0;
    }
    .second_service_item {
        margin: 0 auto 100px
    }
    
    /*------- 第三個服務項目樣式設定 -------*/
    .third_service_item{
        flex-direction: column;
        margin-bottom: 130px;
    }
    .third_service_item_wrap{
        width: 100%;
        order: 2;
    }
    .third_service_item img{
        width: 100%;
        order: 1;
    }
    .third_service_item_wrap h3{
        padding: 20px 0px 0px;
        font-size: 25px;
    }
    .third_service_item_wrap p{
        font-size: 16px;
    }
    .third_service_item_wrap a{
        margin-top: 0;
    }
    .third_service_item::after{
        display: none;
    }

    /*------- 第四個服務項目樣式設定 -------*/
    .four_service_item{
        flex-direction: column;
        margin-bottom: 130px;
    }
    .four_service_item_wrap{
        width: 100%;
        order: 2;
    }
    .four_service_item img{
        width: 100%;
        order: 1;
    }
    .four_service_item_wrap h3{
        padding: 20px 0px 0px;
        font-size: 25px;
    }
    .four_service_item_wrap p{
        font-size: 16px;
        margin-left: 0;
        margin-bottom: 0;
        padding: 10px;
    }
    .four_service_item_wrap a{
        margin-top: 0;
    }
    .four_service_item::after{
        display: none;
    }
    

    /* ------ 客戶回饋 -------*/
    .feedback_container{
    }

    .feedback_container::before{
        display: none;
    }
    .feedback_container::after{
        display: none;
    }
    /*------- text -------*/
    .textcontent{

    }

    .feedback_container h3{
        font-size: 25px;
    }
    .textcontent h6{}

    .textcontent p{}

    /* card_item */
    .container_ul{
        overflow: hidden;
        gap: 15px;;
    }
    .li_feedback_content{
        margin-bottom: 50px;
        padding-bottom: 15px;
        flex-shrink: 0;
    }
    .li_feedback_content .five_star{
        font-size: 20px;
    }
    .li_feedback_content p{}
    .li_feedback_content img{}
    .li_feedback_content h4{}
    .li_feedback_content h5{}
    
    /*------- last-item -------*/
    .item6_wrapper{}
    .item6_wrap{
        height: 200px;
        width: 70%;
    }
    .item6_content{
        height: 200px;
        left: -17%;
    }
    .item6_content h3{
        font-size: 25px;
    }
    .item6_content :last-child{
        font-size: 20px;
    }
    .item6_wrapper a{}

    /*------- footer -------*/
    .wrap_footer{}
    .footer_container{

    }
    .col_link{
        min-width: 121.5px;
    }
    .col_link h5{}
    .col_link span{}
    .col_link li{
        max-width: 200px;
    }
    .col_link li a{}
    .footer_container2{}
    .footer_container2 h5{}


   
    /* -------------*/
    /* ------  ------*/
    /* -------------*/
}
